[Unit]
Description=betterlockscreen
Wants=default.target
; Before=suspend.target

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=PATH="%h/.local/bin:%h/.local/bin/extensions:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment=XDG_CACHE_HOME="%h/.cache"
Environment=XDG_CONFIG_HOME="%h/.config"
ExecStart=%h/.local/bin/lockscreen hook-init
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
